<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <XmlCommand Name="DeleteProduct_SQLite">
        <Parameters>
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
delete from Products
where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCountByCategoryId_SQLite">
        <Parameters>
            <Parameter Name="@CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[select count(*)
from   Products as p
where CategoryID = @CategoryID]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductByCategoryId_SQLite">
        <Parameters>
            <Parameter Name="@CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
from   Products as p
where CategoryID = @CategoryID
limit 0, 3]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductById_SQLite">
        <Parameters>
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select * from Products where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertProduct_SQLite">
        <Parameters>
            <Parameter Name="@ProductName" Type="String" Size="50" />
            <Parameter Name="@CategoryID" Type="Int32" />
            <Parameter Name="@Unit" Type="String" Size="10" />
            <Parameter Name="@UnitPrice" Type="Currency" />
            <Parameter Name="@Quantity" Type="Int32" />
            <Parameter Name="@Remark" Type="String" Size="-1" />
        </Parameters>
        <CommandText><![CDATA[insert into Products (ProductName, CategoryID, Unit, UnitPrice, Quantity, Remark) 
values( @ProductName, @CategoryID, @Unit, @UnitPrice, @Quantity, @Remark);

select last_insert_rowid();]]></CommandText>
    </XmlCommand>
  <XmlCommand Name="InsertUser">
    <Parameters>
      <Parameter Name="@xiang" Type="String" Size="255" />
      <Parameter Name="@cun" Type="String" Size="255" />
      <Parameter Name="@zu" Type="String" Size="255" />
      <Parameter Name="@xingming" Type="String" Size="255" />
      <Parameter Name="@sfzh" Type="String" Size="255" />
      <Parameter Name="@phone" Type="String" Size="255" />
      <Parameter Name="@edate" Type="DateTime" />
      <Parameter Name="@back_address" Type="String" Size="255" />
      <Parameter Name="@back_type" Type="String" Size="255" />
      <Parameter Name="@helthy" Type="String" Size="255" />
      <Parameter Name="@mname" Type="String" Size="255" />
      <Parameter Name="@mjob" Type="String" Size="255" />
      <Parameter Name="@mphone" Type="String" Size="255" />
      <Parameter Name="@desc" Type="String" Size="255" />
      <Parameter Name="@status" Type="Int32" />

    </Parameters>
    <CommandText>
      <![CDATA[
    
        insert into users(xiang,cun,zu,xingming,sfzh,phone,edate,back_address,back_type,helthy,mname,mjob,mphone,desc,status) 
        values(@xiang,@cun,@zu,@xingming,@sfzh,@phone,@edate,@back_address,@back_type,@helthy,@mname,@mjob,@mphone,@desc,@status);
      
      
]]>
    </CommandText>
  </XmlCommand>
  <XmlCommand Name="GetUsers">
    <Parameters>

    </Parameters>
    <CommandText>
      <![CDATA[
select xiang,cun,zu,xingming,substr(sfzh,1,3)|| '****'||substr(sfzh,-4,4)  as sfzh, (substr(phone,1,3) || '****' || substr(phone,-4,4))  as phone,edate,back_address,back_type,helthy,mname,mjob,mphone,desc,status
from   Users;
]]>
    </CommandText>
  </XmlCommand>
    <XmlCommand Name="UpdateProduct_SQLite">
        <Parameters>
            <Parameter Name="@ProductName" Type="String" Size="50" />
            <Parameter Name="@CategoryID" Type="Int32" />
            <Parameter Name="@Unit" Type="String" Size="10" />
            <Parameter Name="@UnitPrice" Type="Currency" />
            <Parameter Name="@Quantity" Type="Int32" />
            <Parameter Name="@Remark" Type="String" Size="-1" />
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
update Products 
set ProductName = @ProductName, 
    CategoryID = @CategoryID, 
    Unit = @Unit, 
    UnitPrice = @UnitPrice, 
    Quantity = @Quantity, 
    Remark = @Remark 
where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
</ArrayOfXmlCommand>